.custom-dashboard-row {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
     @media (min-width: 1024px) {
    .custom-dashboard-row {
       flex-direction: row;
    }
    .custom-dashboard-row > div {
       width: 50%;
    }
}